.app-wrapper {
    display: grid;

    grid-template-areas: 
    "h h"
    "n c";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    margin-top: 0;
    

}
.header {
    grid-area: h;
    background-color: blue;
}
.header img{
    max-width: 70px;
}
.nav {
    grid-area: n;
}
.app-wraper-content {
    grid-area: c;
}